* {
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: rgb(166, 166, 166);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo__header {
  display: inline-block;
  margin: 10px auto;
  border: solid 3px rgb(140, 140, 140);
  padding: 20px;
  text-align: center;
  align-self: center;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
}

.logo__header:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.panel {
  align-self: flex-end;
  padding: 20px;
  margin-right: 30px;
}

.logout:hover, .profile:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin: 0 10px;
  padding: 10px 0;
}

.menu__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: relative;
}

.menu__main:hover, .menu__public:hover, .menu__myasks:hover, .menu__ask:hover {
  background: rgb(113, 113, 113);
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.menu__sub {
  display: none;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 100%;
}

.menu__myasks, .menu__public, .menu__main, .menu__ask {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1.2em;
  line-height: 2em;
  width: 100%;
  text-align: center;
  background: rgb(93, 93, 93);
}

.menu__wrapper:hover .menu__sub {
  display: flex;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* KONIEC NAV */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.ask {
  align-self: flex-end;
  margin: 15px;
}

.box {
  width: 60%;
  padding: 50px;
  display: flex;
  border: 2px solid rgb(83, 82, 83);
  border-radius: 5px;
  margin: 20px 0;
}

.box__wrapper {
  display: flex;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.box__wrapper:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.box__textside {
  margin-right: 10px;
}

.box__info {
  color: rgb(135, 135, 134);
  font-size: 0.8em;
}

.box__date::after, .box__author::after {
  content: ' | ';
}

.box__header {
  margin: 7px;
}

.box__text {
  /* display: flex;
  width: 100%;
  align-items: center; */
}

.box__content {}

.box_img {
  /* float: right; */
}

@media only screen and (max-width: 1000px) {
  .box__wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
}
