* {
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: rgb(166, 166, 166);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo__header {
  display: inline-block;
  margin: 10px auto;
  border: solid 3px rgb(140, 140, 140);
  padding: 20px;
  text-align: center;
  align-self: center;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
}
.logo__header:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.new__list {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.new__item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgb(68, 68, 68);
  justify-content: space-between;

}
.new__item:last-child {
  border-bottom: none;
}
.new__content {

}
.new__date, .new__cat, .new__author {
  font-weight: normal;
  font-size: .6em;
  color: rgb(89, 89, 89);
}
