* {
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: rgb(166, 166, 166);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo__header {
  display: inline-block;
  margin: 10px auto;
  border: solid 3px rgb(140, 140, 140);
  padding: 20px;
  text-align: center;
  align-self: center;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
}
.logo__header:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.profile__panel {
  display: flex;
  align-items: center;
  margin-top: 50px;
  border: 1px solid rgb(45, 45, 45);
  border-radius: 5px;
}
.profile__img {
  max-height: 200px;
  margin-right: 40px;
  border-radius: 5px;
}
.profile__info {
  padding: 10px;
}
.profile__name, .profile__surname, .profile__email, .profile__type, .profile__date {
  font-weight: bold;
  margin: 0;
}

.namedb, .surnamedb, .emaildb, .datedb {
  font-weight: normal;
}
.profile__buttons {
  margin: 10px 0;
}
.stats__header {
  text-align: center;
}
